{% if zfsprep_distribution == "ubuntu" %}
deb http://archive.ubuntu.com/ubuntu {{ zfsprep_ubuntu_release }} main universe
deb-src http://archive.ubuntu.com/ubuntu {{ zfsprep_ubuntu_release }} main universe

deb http://security.ubuntu.com/ubuntu {{ zfsprep_ubuntu_release }}-security main universe
deb-src http://security.ubuntu.com/ubuntu {{ zfsprep_ubuntu_release }}-security main universe

deb http://archive.ubuntu.com/ubuntu {{ zfsprep_ubuntu_release }}-updates main universe
deb-src http://archive.ubuntu.com/ubuntu {{ zfsprep_ubuntu_release }}-updates main universe
{% else %}
deb http://deb.debian.org/debian {{ zfsprep_ubuntu_release }} main contrib non-free
deb http://deb.debian.org/debian {{ zfsprep_ubuntu_release }}-updates main contrib non-free
deb http://deb.debian.org/debian {{ zfsprep_ubuntu_release }}-backports main contrib
deb http://security.debian.org {{ zfsprep_ubuntu_release }}/updates main
{% endif %}
